node_modules
/dist
/.angular
/.vscode
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db
frontend/node_modules
backend-antigo/node_modules
backend-antigo/dist
frontend/dist
backend-antigo/data
backend/*.sqlite
.env