version: '3.9'
services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    env_file:
      - backend/.env.example
    environment:
      - DB_HOST=${DB_HOST:-72.60.156.202}
      - DB_PORT=${DB_PORT:-5434}
      - DB_TYPE=${DB_TYPE:-postgres}
      - DB_USER=${DB_USER:-g3}
      - DB_PASSWORD=${DB_PASSWORD:-g3}
      - DB_NAME=${DB_NAME:-g3}
    ports:
      - "3000:3000"
    depends_on: []
  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    environment:
      - NG_CLI_ANALYTICS=false
    ports:
      - "4200:4200"
    depends_on:
      - backend
