version: '3.9'
services:
  db:
    image: postgres:15
    environment:
      - POSTGRES_USER=${DB_USERNAME:-g3}
      - POSTGRES_PASSWORD=${DB_PASSWORD:-admin}
      - POSTGRES_DB=${DB_NAME:-g3}
    ports:
      - "5434:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    env_file:
      - backend-antigo/.env.example
    environment:
      - DB_HOST=${DB_HOST:-db}
      - DB_PORT=${DB_PORT:-5432}
      - DB_USERNAME=${DB_USERNAME:-g3}
      - DB_PASSWORD=${DB_PASSWORD:-admin}
      - DB_NAME=${DB_NAME:-g3}
    ports:
      - "3000:3000"
    depends_on:
      - db
  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    environment:
      - NG_CLI_ANALYTICS=false
    ports:
      - "4200:4200"
    depends_on:
      - backend

volumes:
  db_data:
