version: '3.9'
services:
  db:
    image: postgres:15
    environment:
      - POSTGRES_USER=${DB_USERNAME:-g3}
      - POSTGRES_PASSWORD=${DB_PASSWORD:-admin}
      - POSTGRES_DB=${DB_NAME:-g3}
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://${DB_HOST:-db}:${DB_PORT:-5432}/${DB_NAME:-g3}
      - SPRING_DATASOURCE_USERNAME=${DB_USERNAME:-g3}
      - SPRING_DATASOURCE_PASSWORD=${DB_PASSWORD:-admin}
    ports:
      - "8080:8080"
    volumes:
      - backend_storage:/app/storage
    depends_on:
      - db
  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  db_data:
  backend_storage:
