spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/g3
    username: postgres
    password: admin
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
server:
  port: 8080

app:
  geocoding:
    base-url: https://nominatim.openstreetmap.org/search
    user-agent: g3-geocoder
    enabled: true
