:host {
  display: block;
}

.section-kicker {
  @apply text-sm font-semibold uppercase tracking-wide text-g3-green-500;
}

.section-subtitle {
  @apply text-sm text-slate-600 dark:text-slate-300;
}

.page-heading {
  @apply text-2xl font-semibold text-slate-900 dark:text-white;
}
