spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/g3
    username: postgres
    password: admin
    hikari:
      maximum-pool-size: 10
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    baseline-version: 0
    table: flyway_schema_history_chamadas
server:
  port: 8085

app:
  cors:
    allowed-origins: "http://localhost:4201,http://127.0.0.1:4201"
  realtime:
    endpoint: "/ws"
    topic: "/topic/chamadas"
